@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is some practice thing I am doing to create a .Net Core MVC web application and to host it in Microsoft Azure.</p>
        <p>The data is stored in a SQL database which is also hosted on Microsoft Azure.</p>
        <p><a asp-controller="Books" asp-action="Index">Click here</a> to access a books database, or click the link in the navbar above.</p>
        <p>Here is a picture of some old books</p>
        <img src="https://www.neh.gov/sites/default/files/styles/featured_image_page/public/2018-06/openbooks.jpg?h=b69e0e0e&itok=06BUz0mY" style="height: 50%; width:50%"/>
    </div>
