@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is some practice thing I am doing to create and host a .Net Core MVC web application.</p>
        <p><a asp-controller="Books" asp-action="Index">Click here</a> to access a books database, or click the link in the navbar above.</p>

    </div>
